.title {
  display: flex;
  justify-content: center;
  position: relative;
}

.title #name {
  position: absolute;
  bottom: 10px;
  font-family: "Abril Fatface", cursive;
  color: #222;
  line-height: 5px;
  margin-left: -70px;
}

#my {
  font-size: 33px;
}

#AS {
  font-size: 65px;
  margin-top: 45px;
}

#anakin {
  width: 1150px;
}

.body {
  display: flex;
  flex-direction: column;
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 25px;
}

.quotes {
  display: flex;
  font-family: "Abril Fatface", cursive;
  color: white;
  background-color: #444444;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 25px;
  font-size: 22px;
}

blockquote::before {
  content: "“";
  font-size: 130px;
  display: inline-block;
  margin-top: -65px;
  margin-right: -15px;
}

h4 {
  font-family: "Merriweather", serif;
  font-size: 12px;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
}

.caps {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 30px;
}

.smaller {
  font-size: 13px;
}

ul {
  list-style: square;
}

h3 {
  margin-bottom: 0;
}

hr {
  border: 2px solid black;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}